.custom-jumbotron{
  margin-top: 5%;
}

.custom-jumbotron h2{
  margin-top: 0px !important;
}

.dashboard{
  padding: 20px;
}

.date-input-box{
  padding-left: 0px;
  padding-right: 5px;
}

.amount-input-box{
  padding-left: 5px;
  padding-right: 0px;
}

.debited-color{
  background-color: #f0ad4e;
}

.credited-color{
  background-color: #5bc0de;
}